body {
  background-color: #282c34;
  color: white;
  max-width: 800px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

label + label {
  margin-top: 20px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
  width: 300px;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: grey;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
}

.row {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  font-size: 14px;
  font-weight: bold;
}

.follows {
  padding-left: 2rem;
}

.prefix {
  font-size: 14px;
  font-weight: bold;
  padding: 0 0.5rem;
}

.result {
  background-color: #4e4d4d;
  margin: 2rem 0 2rem 0;
  max-width: 800px;
}

.icon {
  display: inline-block;
  width: 18px;
}

.error {
  background-color: red;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2rem 0;
  padding: 1rem;
}